:root{
    --main-color:#ffc827;
    --second-color:#ffffff;
    --text-color:#d7ced5;
    --dark-bgcolor:#310529;
    --light-bgcolor:#350b2d;
    --dark-font:#d6ced4;
    --open-font:font-family: 'Open Sans';
}

*{
    font-family: 'Josefin Sans', sans-serif;
}


.navbar {
    background-color: #380b2d;
}

section {
    background-color: #380b2d !important;
}
ul li a {
    color: white !important;
}

.dropdown-menu a:hover{
    background-color: #380b2d !important;
    color: white !important;
}

.home-title h1{
font-size: 70px;
    color: white;
}

.home-title h1 span{
    color: #ffc827;
}

.home-title p{
    color: var(--text-color);
}

.abt-play{
    position: relative;
    z-index: 10;
}

.play-btn button{
    background-color: var(--main-color);
}

.sign-btn button{
    background-color: var(--main-color);
}

.abt-page button{
    background-color: var(--main-color);
}

.abt-page h1{
    font-size: 60px;
}

.abt-page p{
    color: var(--text-color);
    font-size: 20px;
}

.abt-play p{
    color: var(--text-color);
}

.abt-play span{
    color: var(--main-color);
}

.abt-play img {
    padding:  20px 50px;
    background-color: var(--light-bgcolor);
    border-radius: 5px;
    object-fit: contain;
}

.abt-play h5 {
    margin-top: 10px;
}

.abt-play button{
    margin-top: 10px;
    padding: 10px;
    font-family: var(--open-font);
    font-size: 15px !important;
    border-radius: 2px;
    background-color: var(--main-color);
    box-shadow:  -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
    transition: all 0.2s linear;
}

.abt-play button:hover{
    box-shadow: 11px 11px 32px rgba(255, 82, 1, 0.2), -11px -11px 32px rgba(255, 200, 39, 0.4);
}

.abt-games{
    background-image: url(../Images/card-bg.png);
    background-color: var(--light-bgcolor);
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow:  -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
    transition: all 0.2s linear;
    position: relative;
}

.abt-games::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:#350b2d;
    opacity: .9;
    top: 0;
    left: 0;
}

.ball::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -4.828px -4.828px 12px 0px rgba(255, 200, 39, 0.4), 3px 5px 15px 0px rgba(255, 82, 1, 0.2);
  transition: all 0.2s linear;
}

.ball:hover{
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
}

.abt-games:hover{
    cursor: pointer;
    box-shadow: -4.828px -4.828px 12px 0px rgba(255, 200, 39, 0.4), 3px 5px 15px 0px rgba(255, 82, 1, 0.2);
}


.card-img{
    width: 204px;
}
.abt-top h1{
    font-size: 50px;
}

.abt-top p{
    color: var(--text-color);
}

.navbar-toggler-icon{
    background-color: #fe8e1c !important;
    color: var(--light-bgcolor) !important;
}

.card-section{
    background-color: var(--light-bgcolor) !important;
    z-index: 1;
}

.intro-sec p{
    color: var(--dark-font);
    font-size: 18px;
}

.icon-img i{
    color: var(--main-color);
}